fastapi
uvicorn
pydantic
python-dotenv
python-multipart
langchain
langchain-core
langchain-community
langchain-ollama
langchain-postgres
langchain-text-splitters
psycopg2-binary
pandas
openpyxl
langchain-experimental
matplotlib
seaborn
